body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin: 0;
    font-size: 35px;
}

#main ul {
    padding: 20px;
    list-style: none;
    height: 400px;
    background-color: #ddd;
    overflow: auto;
}
#main li {
    padding: 5px 10px;
    height: 25px;
    line-height: 1em;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
li a {
    text-decoration: none;
    color: red;
}
li a:visited {
    color: red;
}
.friend{
    font-weight: bold;
    color: blue;
}
#join {
    display: inline-block;
    margin-left: 20px;
}
#main h2 {
    display: inline-block;
}
